<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防疫期间员工每日健康统计</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div>
            <h2>{{title}}</h2>
            <el-form ref="form" :model="form">
                <el-form-item label="请输入姓名" label-width="80px">
                    <el-input width="50px" :size='small' v-model="userName" placeholder="请输入您的姓名"></el-input>
                </el-form-item>
                <el-form-item v-for="(item, index) in list" :key="index" :label="item.title">
                    <el-radio-group v-model="radioArr[index]"
                        @change="radioChange(index,{id: item.id, answer: radioArr[index]})">
                        <el-radio v-for="citem in item.options" :label="citem"></el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <el-button @click="submit">Submit</el-button>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        const ajax = axios.create({
            baseURL: 'http://localhost:3000',
            timeout: 1000,
            headers: {
                'X-Custom-Header': 'foobar'
            }
        });
        const app = new Vue({
            el: '#app',
            data: {
                title: '防疫期间员工每日健康统计',
                list: null,
                userName: '',
                form: {
                    radioList: []
                },
                radioArr: [] // 临时的单选题数组
            },
            created() {
                this.getQuestion()
            },
            methods: {
                getQuestion() {
                    ajax.get('/')
                        .then((res) => {
                            console.log(res);
                            this.list = res.data.data;
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                },
                radioChange(index, obj) {
                    this.form.radioList[index] = obj;
                    console.log(this.form.radioList, this.radioArr)
                },
                submit() {
                    ajax.post('/', {
                            userName: this.userName,
                            answerData: this.form.radioList
                        })
                        .then(res => {
                            console.log(res)
                            this.$message.success('Submit Success!');
                        }).catch(err => {
                            console.error(err)
                            this.$message.error('Submit Fail!');
                        })
                }
            },
        })
    </script>
</body>

</html>